<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper.BoardMapper">
	<select id="getBoardList" parameterType="map" resultType="board.dto.BoardDto">
		<choose>
 			<when test="mode.equals(blike)">
 				select bno,title,bdate,bcount,writer,content,blike,bhate,comment_count from (select ceil(rownum/7) as pagenum, bno, title, bdate, bcount, writer, content, blike, bhate, comment_count from (select b.*, nvl(c.comment_count, 0) as comment_count from board b, (select bno, count(*) as comment_count from BOARD_COMMENT group by bno) c where b.bno = c.bno(+) order by b.blike desc)) where pagenum = #{pageNo}
 			</when>
 			<when test="mode.equals(bhate)">
 				select bno,title,bdate,bcount,writer,content,blike,bhate,comment_count from (select ceil(rownum/7) as pagenum, bno, title, bdate, bcount, writer, content, blike, bhate, comment_count from (select b.*, nvl(c.comment_count, 0) as comment_count from board b, (select bno, count(*) as comment_count from BOARD_COMMENT group by bno) c where b.bno = c.bno(+) order by b.bhate desc)) where pagenum = #{pageNo}
 			</when>
 			<otherwise>
 				select bno,title,bdate,bcount,writer,content,blike,bhate,comment_count from (select ceil(rownum/7) as pagenum, bno, title, bdate, bcount, writer, content, blike, bhate, comment_count from (select b.*, nvl(c.comment_count, 0) as comment_count from board b, (select bno, count(*) as comment_count from BOARD_COMMENT group by bno) c where b.bno = c.bno(+) order by b.bno desc)) where pagenum = #{pageNo}
 			</otherwise>
 		</choose>
	</select>
	<select id="getCount" resultType="int">
 		select count(*) from board
 	</select>
 	<select id="getBoardDto" parameterType="int" resultType="board.dto.BoardDto">
 		select * from board where bno = #{bno}
 	</select>
 	<update id="addCount" parameterType="int">
 		update board set bcount = bcount +1 where bno = #{bno}
 	</update>
 	<select id="getCommentList" parameterType="int" resultType="board.dto.CommentDto">
 		select cno, content, cdate, writer, blike, bhate from board_comment where bno = #{bno} order by cdate desc
	</select>
	<select id="selectFileList" parameterType="int" resultType="board.dto.FileDTO">
 		select * from board_file_list where bno = #{bno}
 	</select>
 	<select id="newBno" resultType="int">
		select bno_seq.nextval from dual
	</select>
	<insert id="insertBoard" parameterType="board.dto.BoardDto">
		insert into board(bno,title,writer,content) values(#{bno},#{title},#{writer},#{content})
	</insert>
	<insert id="insertFileList" parameterType="board.dto.FileDTO">
		insert into board_file_list values(#{bno},#{writer},#{fileName})
	</insert>
</mapper>