<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper.MemberMapper">
	<select id="login" parameterType="map" resultType="board.dto.MemberDTO">
		select id, passwd, name, age, grade_name from member, grade_list where id like #{id} and passwd like#{pass} and grade = grade_no
	</select>
	<select id="selectMember" parameterType="String" resultType="board.dto.MemberDTO">
		select * from member where id like #{id}
	</select>
	<update id="memberUpdateAction" parameterType="map">
		update member set passwd = #{pass}, name = #{name}, age = #{age} where id like #{id}
	</update>
	<insert id="insertLog" parameterType="map">
		insert into memberlog values(to_date(#{log_date},'YYYY/MM/DD HH24:MI:SS'), #{code_number}, #{message})
	</insert>
</mapper>